{% extends 'base.html' %}
{% load static %}

{% block title %}Room Detail - {{ room.room_name }}{% endblock %}
{% block content %}
<div class="row my-5">
    <!-- carousel -->
    <div class="col-12 col-lg-6">
        <div id="roomdetailcarousel" class="carousel slide mx-auto">
            <div class="carousel-indicators">
                {% for image in room_images %}
                <button type="button" data-bs-target="#roomdetailcarousel" data-bs-slide-to="{{ forloop.counter0 }}"
                    {% if forloop.first %}class="active" {% endif %}></button>
                {% endfor %}
            </div>
            <div class="carousel-inner">
                {% for image in room_images %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <img src="{{ image.images.url }}" class="roomdetailimg d-block" alt="Room Image">
                </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#roomdetailcarousel"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#roomdetailcarousel"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <!-- card -->
    <div class="col-12 col-lg-6 d-flex align-items-center">
        <div id="detailscard" class="card" style="width: 40rem">
            <div class="card-body">
                <div class="row d-flex justify-content-around">
                    <div class="col-6 mt-2">
                        <h1>{{ room.room_name }}</h1>
                    </div>
                    <div class="col-6 mr-3">
                        {% if room.room_name == 'Orchard View' or room.room_name == 'Meadow View' %}
                        <span><img src="/static/images/dog.jpg" alt="dog friendly logo" class="dog-card"></span>
                        {% endif %}
                    </div>
                </div>
                <hr>
                <p class="card-text my-4">{{ room.room_description|linebreaks }}</p>
                <div class="d-flex justify-content-between">
                    <a href="#" class="btn btn-details p-4">Check Availability</a>
                    <a href="#" class="btn btn-details p-4">View All Rooms</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}