{% extends 'base.html' %}
{% load static %}

{% block title %}Rooms{% endblock %}

{% block content %}
<h1 class="text-center mt-4 text-decoration-underline">Rooms</h1>
<!-- buttons area -->
<div id="buttonsarea">
    <div class="row justify-content-between text-center mt-3">
        <div class="col-12 col-md-4">
            <a class="btn btn-rooms w-50" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button"
                aria-expanded="false" aria-controls="multiCollapseExample1">Room
                Amenities</a>
        </div>
        <div class="col-12 col-md-4">
            <button class="btn btn-rooms w-50" type="button" data-bs-toggle="collapse"
                data-bs-target="#multiCollapseExample2" aria-expanded="false"
                aria-controls="multiCollapseExample2">Studios
                Features</button>
        </div>
        <div class="col-12 col-md-4">
            <button class="btn btn-rooms w-50" type="button" data-bs-toggle="collapse"
                data-bs-target="#multiCollapseExample3" aria-expanded="false"
                aria-controls="multiCollapseExample3">House
                Rules</button>
        </div>
    </div>

    <div id="roomcollapsearea" class="row m-2">
        <!-- room amenities collapse component -->
        <div class="col-lg-4 col-md-6 ">
            <div class="collapse multi-collapse" id="multiCollapseExample1" data-bs-parent="#buttonsarea">
                <div class="card card-body mb-1">
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <i class="fa-solid fa-bowl-food"></i><span class="p-1 font-weight-bold">Kitchenette</span>
                            <ul>
                                <li>Full size induction hob</li>
                                <li>Electric oven</li>
                                <li>Fridge</li>
                            </ul>
                        </div>
                        <div class="col-12 col-md-4">
                            <i class="fa-solid fa-bed ml-3"></i><span class="p-1">Open Plan</span>
                            <ul>
                                <li>Double bed</li>
                                <li>Smart TV</li>
                                <li>Breakfast bar</li>
                            </ul>
                        </div>
                        <div class="col-12 col-md-4">
                            <i class="fa-solid fa-shower ml-3"></i><span class="p-1">Bathroom</span>
                            <ul>
                                <li>Private En-suite</li>
                                <li>Shower</li>
                                <li>Heated towel rail</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- studio features collapse component -->
        <div class="col-lg-4 col-md-6 mb-1">
            <div class="collapse multi-collapse" id="multiCollapseExample2" data-bs-parent="#buttonsarea">
                <div class="card card-body">
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <i class="fa-solid fa-wifi"></i><span class="p-1 underline">Utilities</span>
                            <ul>
                                <li>Gas central heating</li>
                                <li>Electricity</li>
                                <li>Wi-Fi </li>
                            </ul>
                        </div>
                        <div class="col-12 col-md-4">
                            <i class="fa-solid fa-mattress-pillow"></i><span class="p-1 underline">Comforts</span>
                            <ul>
                                <li>Bed linen</li>
                                <li>Towels</li>
                                <li>Welcome pack</li>
                            </ul>
                        </div>
                        <div class="col-12 col-md-4">
                            <i class="fa-solid fa-bicycle"></i><span class="p-1 underline">Facilities</span>
                            <ul>
                                <li>Lawned garden</li>
                                <li>Bike store</li>
                                <li>Private parking for 1 car</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- house rules collapse component -->
        <div class="col-lg-4 col-md-6 mb-1">
            <div class="collapse multi-collapse" id="multiCollapseExample3" data-bs-parent="#buttonsarea">
                <div class="card card-body">
                    <div class="row">
                        <div class="col-12 text-center">
                            <i class="fa-solid fa-house"></i><span class="p-1 underline">House Rules</span>
                            <ul>
                                <li>No smoking in Studio</li>
                                <li>Well behaved dogs</li>
                                <li>Couples bookings only</li>
                                <li>No children</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end buttons area -->

<!-- rooms area -->
<div class="container-fluid d-flex flex-row flex-wrap justify-content-center gap-5 mt-4 mb-5">
    {% for r in rooms %}
    <div class="card" style="width: 20rem;">
        <!-- Changed the src attribute to access the room picture URL -->
        <img src="{{ r.room_pictures.url }}" class="img-fluid room-img" alt="{{ r.room_name }}">
        <div class="card-body">
            <h2 class="card-title">{{ r.room_name }}</h2>
            <p class="card-text">{{ r.card_description }}</p>
            <a href="#" class="btn btn-rooms">View Room</a>
            {% if r.room_name == 'Orchard View' or r.room_name == 'Meadow View' %}
            <span><img src="/static/images/dog.jpg" alt="dog friendly logo" class="dog-card"></span>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}