{% extends 'base.html' %}
{% load static %}

{% block title %}About Us{% endblock %}

{% block content %}
<h1 class="header-shadow text-center mt-4 text-decoration-underline">About Us</h1>

<div class="row mt-0 my-lg-5">
    <!-- image container -->
    <div class="col-12 col-lg-6 d-flex justify-content-center">
        <div id="aboutus-container">
            <img id="aboutus-img" src="{% static 'images/exterior/aboutus.jpeg' %}"
                alt="Exterior photo of attached owners cottage" class="aboutus-img">
        </div>
    </div>
    <!-- text containers -->
    <div class="col-12 col-lg-6">
        <div id="message-container" class="card p-2 w-75">

            <p>We, Nick and Kerry, are delighted to invite you to our charming collection
                of four fully refurbished studio apartments, nestled alongside our own
                cottage dating back to 1708. Located on the edge of the historic Somerset
                town of Cheddar, our studios offer the perfect blend of rural tranquility
                and convenience with proximity to local attractions. Just a 10-minute walk
                from the world-famous Cheddar Gorge, you'll find great pubs and places to
                visit within walking distance.</p>

            <p>We have two friendly dogs - a black lab and her daughter, a labradoodle so
                please keep this in mind if your dog is nervous or reactive.</p>

            <p>If you love the outdoors, great pubs and are looking for a relaxing getaway,
                come and visit us at The Old Strawberry Barn Studios in Cheddar.
                We look forward to welcoming you!</p>

            <p>Warm regards,</p>

            <p>Nick and Kerry</p>

        </div>
        <div id="contact-container" class="container my-lg-4 w-50 pt-2 text-white">
            <p class="text-center">The Old Strawberry Barn Studios</p>
            <p class="text-center">Cheddar, Somerset</p>
            <p class="text-center">BS27 3QF</p>
            <p class="text-center">Tel: 07977503438</p>
            <p class="text-center">Email: THEOLDSTRAWBERRYBARNCHEDDAR@AOL.COM</p>
        </div>
        <gmp-map center="51.28588104248047,-2.7865467071533203" zoom="17" map-id="DEMO_MAP_ID"
            style="height: 20rem; width: 64rem;">
            <gmp-advanced-marker position="51.28588104248047,-2.7865467071533203" title="My location">
            </gmp-advanced-marker>
        </gmp-map>
    </div>
</div>

{% endblock %}