{% extends 'base.html' %}
{% load static %}

{% block title %}About Us{% endblock %}

{% block content %}


<div class="row mt-0 mt-lg-4">
    <!-- image container -->
    <div id="aboutus-img-col" class="col-12 col-lg-6 d-flex justify-content-center">
        <img id="aboutus-img" src="{% static 'images/exterior/aboutus.jpeg' %}"
            alt="Exterior photo of attached owners cottage" class="aboutus-img">
    </div>
    <!-- text containers -->
    <div class="col-12 col-lg-6">
        <div id="message-container" class="card pt-4 px-3">
            <h1>About us</h1>
            <hr>
            <p class="mt-2">We moved to Cheddar in October 2020 and
                over the next 9 months, fully renovated the 4 studios as well as
                undertaking major works on the 1708 cottage next door. We’re delighted
                with the results and our guest reviews have been so positive along with
                numerous customer choice awards from Cottages.com. We take great pride
                in how the studios are presented and each one has a 2 hour clean
                between guest stays
            </p>

            <p>The Cheddar community is really welcoming and pretty much everything is
                no more than 15 minutes walk from the studios. We’ve built up a good
                knowledge of the best places to visit and have tested most of them
                ourselves – pubs, a great range of restaurants, local beaches, the
                Cheddar Ales taproom, England’s smallest city (Wells), walks in the
                Mendip Hills, to Crooks Peak or the Gorge and Glastonbury Tor. What
                a range of things to do right on our doorstep! Our studios offer a
                lovely blend of rural tranquility and convenience with proximity to
                all Cheddar offers
            </p>

            <p>We have a friendly, tennis ball loving labradoodle and 2 of the 4
                studios are dog friendly. One well behaved dog is welcome in each</p>

            <p>If you love the outdoors, great pubs and are looking for a relaxing
                getaway, come and visit us at The Old Strawberry Barn Studios in
                Cheddar. We look forward to welcoming you!
            </p>

            <p>Best regards,</p>

            <p>Nick and Kerry</p>
        </div>
        <div id="contact-container" class="container my-lg-4 pt-2 text-white">
            <p class="text-center">The Old Strawberry Barn Studios</p>
            <p class="text-center">Venns House, Venns Gate</p>
            <p class="text-center">Cheddar, Somerset</p>
            <p class="text-center">BS27 3LW</p>
            <p class="text-center">Tel: 07977503438</p>
            <p class="text-center">Email: theoldstrawberrybarncheddar@aol.com</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 text-center mb-0 mb-lg-4">
        <gmp-map id="googlemap" center="51.28501892089844,-2.7841014862060547" zoom="17" map-id="DEMO_MAP_ID">
            <gmp-advanced-marker position="51.28501892089844,-2.7841014862060547" title="My location">
            </gmp-advanced-marker>
        </gmp-map>
    </div>
</div>

{% endblock %}