@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    /* fonts */
    --site-name: Montserrat, serif;
    --title: lato, serif;
    --text: Roboto, source-sans-pro;

    /* colors */
    --navfooter: #212529;
    --bgcolor1: #879A77;
    --bgcolor2: #823200;
    --bgcolor3: #827191;

    /* Utils */
    --box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    --border: 5px solid #000;
}

/* Generic */

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--title);
}

main {
    flex: 1 0 auto;
}

.active {
    color: white;
    font-weight: 700;
    border-bottom: 1px solid white;
}

/* Header  */

header {
    font-family: var(--site-name);
}

.navbar {
    background-color: var(--navfooter);
    box-shadow: var(--box-shadow);
}

a.nav-link {
    color: white;
    transition: all 0.3s ease;
}

img.logo {
    width: 4rem;
    height: 4rem;
}

.site-name {
    margin-left: 10px;
}

/* Footer */
footer {
    flex-shrink: 0;
    background-color: var(--navfooter);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: var(--border);
    font-family: var(--site-name);
}

.dog-logo {
    width: 4rem;
    height: 4rem;
}

footer a {
    color: white;
    text-decoration: none;
}

.footer-links {
    transition: all 0.3s ease;
}

.footer-links:hover {
    color: #c6c6c6;
    transform: scale(1.1);
}

@media screen and (max-width: 767px) {
    img.logo {
        width: 2rem;
        height: 2rem;
    }

    .site-name {
        font-size: 14px;
    }

}