{% extends 'base.html' %}
{% load static %}

{% block title %}Area Guide{% endblock %}

{% block content %}
<h1 class="header-shadow text-center mt-4 text-decoration-underline">Area Guide</h1>

<div id="areaguidearea" class="mt-4 justify-content-around">
    <div class="row gap-3">
        <div id="attractions" class="col-12 col-md-3 container">
            <h2 class="header-shadow text-center text-white mt-1">Attractions</h2>
            <ul class="arealist">
                <li><a href="https://www.cheddargorge.co.uk/" target="_blank"
                        aria-label="Visit the Cheddar Gorge website, opening in new tab">Cheddar Gorge</a><span
                        class="text-white mx-2">|</span><a href="https://tinyurl.com/3cd3rvty" target="_blank"
                        aria-label="Directions to Cheddar Gorge, opening in new tab"><i
                            class="fa-regular fa-map"></i></a>
                </li>
                <li><a href="https://tinyurl.com/yc8k5f45" target="_blank"
                        aria-label="Visit the Somerset Visitor (Cheddar) website, opening in new tab">Cheddar
                        Town</a><span class="text-white mx-2">|</span><a href="https://tinyurl.com/53btx2vw"
                        target="_blank" aria-label="Directions to Cheddar Town, opening in new tab"><i
                            class="fa-regular fa-map"></i></a>
                </li>
                <li><a href="https://www.thatcherscider.co.uk/railway-inn/" target="_blank"
                        aria-label="Visit The Railway Inn website, opening in new tab">Railway Inn</a><span
                        class="text-white mx-2">|</span><a href="https://tinyurl.com/3zpcnfau" target="_blank"
                        aria-label="Directions to The Railway Inn, opening in new tab"><i
                            class="fa-regular fa-map"></i></a>
                </li>
                <li><a href="https://tinyurl.com/mr48bp97" target="_blank"
                        aria-label="Visit the Somerset Visitor (Axbridge) website,, opening in new tab">Axbridge</a><span
                        class="text-white mx-2">|</span><a href="https://tinyurl.com/yckc5vv2" target="_blank"
                        aria-label="Directions to Axbridge, opening in new tab"><i class="fa-regular fa-map"></i></a>
                </li>
            </ul>
            <p class="areaguide-img-detail"><small>Photo of Cheddar Gorge</small></p>
        </div>
        <div id="food" class="col-12 col-md-3 container">
            <h2 class="header-shadow text-center text-white mt-1">Food</h2>
            <ul class="arealist">
                <li><a href="https://zenthaicheddar.com/" target="_blank"
                        aria-label="Visit the Zen Thai website, opening in new tab">Zen Thai</a><span
                        class="text-white mx-2">|</span><a href="https://tinyurl.com/5xu3tej5" target="_blank"
                        aria-label="Directions to Zen Thai, opening in new tab"><i class="fa-regular fa-map"></i></a>
                </li>
                <li><a href="https://la-rocca.co.uk/" target="_blank"
                        aria-label="Visit the La Rocca website, opening in new tab">La Rocca</a><span
                        class="text-white mx-2">|</span><a href="https://tinyurl.com/2k5s9mj9" target="_blank"
                        aria-label="Directions to La Rocca, opening in new tab"><i class="fa-regular fa-map"></i></a>
                </li>
                <li><a href="https://tuckersfishnchips.co.uk/" target="_blank"
                        aria-label="Visit the Tuckers Fish ‘n’ Chips website, opening in new tab">Tuckers Fish ‘n’
                        Chips</a><span class="text-white mx-2">|</span><a href="https://tinyurl.com/4jpend7d"
                        target="_blank" aria-label="Directions to Tuckers Fish ‘n’ Chips, opening in new tab"><i
                            class="fa-regular fa-map"></i></a>
                </li>
                <li><a href="https://www.rasoicheddar.com/" target="_blank"
                        aria-label="Visit the Rasoi website, opening in new tab">Rasoi Indian</a><span
                        class="text-white mx-2">|</span><a href="https://tinyurl.com/mvpfrdr8" target="_blank"
                        aria-label="Directions to Rasoi, opening in new tab"><i class="fa-regular fa-map"></i></a>
                </li>
            </ul>

        </div>
        <div id="walks" class="col-12 col-md-3 container">
            <h2 class="header-shadow text-center text-white mt-1">Walks</h2>
            <ul class="arealist">
                <li><a href="https://mendiphills-nl.org.uk/" target="_blank"
                        aria-label="Visit the Medips Hills website, opening in new tab">Mendips</a><span
                        class="text-white mx-2">|</span><a href="https://tinyurl.com/53jk2692" target="_blank"
                        aria-label="Directions to Mendips, opening in new tab"><i class="fa-regular fa-map"></i></a>
                </li>
                <li><a href="https://en.wikipedia.org/wiki/Cheddar_Reservoir" target="_blank"
                        aria-label="Visit Cheddar Reservoir Wiki page, opening in new tab">Cheddar Reservoir</a><span
                        class="text-white mx-2">|</span><a href="https://tinyurl.com/yc6dnc4n" target="_blank"
                        aria-label="Directions to Cheddar Reservoir, opening in new tab"><i
                            class="fa-regular fa-map"></i></a>
                </li>
                <li><a href="https://www.thestrawberryline.org.uk/" target="_blank"
                        aria-label="Visit the Strawberry Line website, opening in new tab">The Strawberry Line</a><span
                        class="text-white mx-2">|</span><a href="https://tinyurl.com/4948ke9b" target="_blank"
                        aria-label="Directions to The Strawberry Line, opening in new tab"><i
                            class="fa-regular fa-map"></i></a>
                </li>
                <li><a href="https://www.somerset.gov.uk/beaches-ports-and-flooding/berrow-and-brean-beach/"
                        target="_blank" aria-label="Visit the Somerset Council website, opening in new tab">Berrow
                        Beach</a><span class="text-white mx-2">|</span><a href="https://tinyurl.com/343dz4s6"
                        target="_blank" aria-label="Directions to Berrow Beach, opening in new tab"><i
                            class="fa-regular fa-map"></i></a>
                </li>
            </ul>
            <p class="areaguide-img-detail"><small>Photo of Cheddar Reservoir</small></p>
        </div>
    </div>
    <div class="row mt-3 gap-3">
        <div id="pubs" class="col-12 col-md-3 container">
            <h2 class="header-shadow text-center text-white mt-1">Pubs</h2>
            <ul class="arealist">
                <li><a href="https://www.instagram.com/kings_head_cheddar/?locale=en_AE%2B2" target="_blank"
                        aria-label="Visit the The Kings Head trip advisor, opening in new tab">The Kings
                        Head</a><span class="text-white mx-2">|</span><a href="https://tinyurl.com/m3dvym8t"
                        target="_blank" aria-label="Directions to The Kings Head, opening in new tab"><i
                            class="fa-regular fa-map"></i></a>
                </li>
                <li><a href="https://www.facebook.com/gardenerscheddar2020/" target="_blank"
                        aria-label="Visit the The Gardeners Arms facebook, opening in new tab">The Gardeners
                        Arms</a><span class="text-white mx-2">|</span><a href="https://tinyurl.com/h95mcryj"
                        target="_blank" aria-label="Directions to The Gardeners Arms, opening in new tab"><i
                            class="fa-regular fa-map"></i></a>
                </li>
                <li><a href="https://www.ontherockscheddar.com/" target="_blank"
                        aria-label="Visit the On The Rocks website, opening in new tab">On The Rocks</a><span
                        class="text-white mx-2">|</span><a href="https://tinyurl.com/yhz32hh3" target="_blank"
                        aria-label="Directions to Bath Arms, opening in new tab"><i class="fa-regular fa-map"></i></a>
                </li>
                <li><a href="https://www.batharms.com/" target="_blank"
                        aria-label="Visit the Bath Arms website, opening in new tab">Bath Arms</a><span
                        class="text-white mx-2">|</span><a href="https://tinyurl.com/4ad2mm9r" target="_blank"
                        aria-label="Directions to Bath Arms, opening in new tab"><i class="fa-regular fa-map"></i></a>
                </li>
            </ul>
            <p class="areaguide-img-detail"><small>Photo of Kings Head</small></p>
        </div>
        <div id="transport" class="col-12 col-md-3 container">
            <h2 class="header-shadow text-center text-white mt-1">Transport</h2>
            <ul class="arealist">
                <li><a href="https://www.firstbus.co.uk/uploads/node_images/126%20(Wells)%206%20Sep%2020.pdf"
                        target="_blank" aria-label="Visit the First Bus timetable, opening in new tab">Bus</a><span
                        class="text-white mx-2">|</span><a href="https://tinyurl.com/yjjxpykd" target="_blank"
                        aria-label="Directions to Nearest bus stop, opening in new tab"><i
                            class="fa-regular fa-map"></i></a>
                </li>
                <li><a href="https://tinyurl.com/fhht88c7" target="_blank"
                        aria-label="Visit the First Bus timetable, opening in new tab">Taxis</a>
                </li>
                <li><a href="https://www.cheddarbikes.co.uk/cycle-routes" target="_blank"
                        aria-label="Visit the Cheddar Bikes cycle routes, opening in new tab">Bike</a><span
                        class="text-white mx-2">
                </li>
            </ul>
        </div>
        <div id="nearby" class="col-12 col-md-3 container mb-5">
            <h2 class="header-shadow text-center text-white mt-1">Nearby</h2>
            <ul class="arealist">
                <li><a href="https://www.burnhamandberrowgolfclub.co.uk/" target="_blank"
                        aria-label="Visit the Burnham And Berrow Golf Club website, opening in new tab">Burnham And
                        Berrow</a><span class="text-white mx-2">|</span><a href="https://tinyurl.com/bdaut48u"
                        target="_blank" aria-label="Directions to Burnham And Berrow Golf Club, opening in new tab"><i
                            class="fa-regular fa-map"></i></a>
                </li>
                <li><a href="https://www.glastonburyabbey.com/" target="_blank"
                        aria-label="Visit the Glastonbury Abbey website, opening in new tab">Glastonbury Abbey</a><span
                        class="text-white mx-2">|</span><a href="https://tinyurl.com/4rsm6tnz" target="_blank"
                        aria-label="Directions to Glastonbury Abbey, opening in new tab"><i
                            class="fa-regular fa-map"></i></a>
                </li>
                <li><a href="https://clarksvillage.co.uk/" target="_blank"
                        aria-label="Visit the Clarks Village website, opening in new tab">Clarks Village</a><span
                        class="text-white mx-2">|</span><a href="https://tinyurl.com/39n9vmbm" target="_blank"
                        aria-label="Directions to Clarks Village, opening in new tab"><i
                            class="fa-regular fa-map"></i></a>
                </li>
                <li><a href="https://www.visit-westonsupermare.com/" target="_blank"
                        aria-label="Visit the Weston-super-Mare visitor website, opening in new tab">Weston-super-Mare</a><span
                        class="text-white mx-2">|</span><a href="https://tinyurl.com/4wvpmrt6" target="_blank"
                        aria-label="Directions to Weston-super-Mare, opening in new tab"><i
                            class="fa-regular fa-map"></i></a>
                </li>
            </ul>
            <p class="areaguide-img-detail"><small>Photo of Glastonbury Abbey</small></p>
        </div>
    </div>
</div>

{% endblock %}