{% extends 'base.html' %}
{% load static %}

{% block title %}Area Guide{% endblock %}

{% block content %}
<h1 class="header-shadow text-center mt-4 text-decoration-underline">Area Guide</h1>

<div id="areaguidearea" class="mt-5 justify-content-around border">
    <div class="row gap-3">
        <div id="attractions" class="col-12 col-md-3 container">
            <h2 class="header-shadow text-center text-decoration-underline text-white">Attractions</h2>
            <ul>
                <li><a href="">Attraction1</a></li>
                <li><a href="">Attraction2</a></li>
                <li><a href="">Attraction3</a></li>
                <li><a href="">Attraction4</a></li>
            </ul>
            <p class="areaguide-img-detail"><small>Photo of Cheddar Gorge</small></p>
        </div>
        <div id="food" class="col-12 col-md-3 container border">
            <h2 class="text-center text-decoration-underline">Food</h2>
            <ul>
                <li><a href="">Food1</a></li>
                <li><a href="">Food2</a></li>
                <li><a href="">Food3</a></li>
                <li><a href="">Food4</a></li>
            </ul>
        </div>
        <div id="walks" class="col-12 col-md-3 container">
            <h2 class="header-shadow text-center text-decoration-underline text-white">Walks</h2>
            <ul>
                <li><a href="">Walks1</a></li>
                <li><a href="">Walks2</a></li>
                <li><a href="">Walks3</a></li>
                <li><a href="">Walks4</a></li>
            </ul>
            <p class="areaguide-img-detail"><small>Photo of The Reservoir</small></p>
        </div>
    </div>
    <div class="row mt-3 gap-3">
        <div id="pubs" class="col-12 col-md-3 container">
            <h2 class="header-shadow text-center text-decoration-underline text-white">Pubs</h2>
            <ul>
                <li><a href="">Pub1</a></li>
                <li><a href="">Pub2</a></li>
                <li><a href="">Pub3</a></li>
                <li><a href="">Pub4</a></li>
            </ul>
            <p class="areaguide-img-detail"><small>Photo of Kings Head</small></p>
        </div>
        <div id="transport" class="col-12 col-md-3 container border">
            <h2 class="text-center text-decoration-underline">Transport</h2>
            <ul>
                <li><a href="">Transport1</a></li>
                <li><a href="">Transport2</a></li>
                <li><a href="">Transport3</a></li>
                <li><a href="">Transport4</a></li>
            </ul>
        </div>
        <div id="nearby" class="col-12 col-md-3 container border mb-5">
            <h2 class="text-center text-decoration-underline">Nearby</h2>
            <ul>
                <li><a href="">Nearby1</a></li>
                <li><a href="">Nearby2</a></li>
                <li><a href="">Nearby3</a></li>
                <li><a href="">Nearby4</a></li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}